.btn-left {
  text-align: left;
}

.dropdown-menu > li >a.bg-danger:hover {
  @extend .bg-danger;
}

.overlay-alert {
  position:fixed;
  top:80px;
  left: 40px;
  right: 40px;
  z-index:2;
}

.btn-clear-selected-item {
  cursor: pointer;
}

.crumb {
  padding-bottom: 10px;
}

.clickable {
  cursor: pointer;
}